    body,
    html {
        height: 100%;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        background-image: url("../img/pexels-konevi-3789871.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    ul {
        list-style: none;
        padding: 0;
    }
    
    p {
        padding: 0;
        margin: 0;
    }
    
    .content {
        position: fixed;
        max-width: 600px;
        margin-top: 70px;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
    }
    
    .future-forecast {
        overflow: auto;
    }