    body,
    html {
        height: 100%;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        background-image: url("../img/pexels-konevi-3789871.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    h1 {
        padding-top: 10px;
    }
    
    p {
        padding: 0;
        margin: 0;
    }
    
    .content {
        position: fixed;
        max-width: 600px;
        min-width: 300px;
        margin-top: 70px;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        border-radius: 8px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
    
    .future-forecast {
        overflow: auto;
    }
    
    .future-forecast .col-2 {
        text-align: center;
    }
    
    .weather-image {
        max-width: 100%;
        min-width: 30px;
        max-height: 100%;
    }
    
    .day,
    .future-temp {
        font-weight: 300;
    }
    
    .humidity {
        display: block;
    }
    
    .wind {
        display: block;
    }
    
    .desc-info {
        align-self: center;
    }
    
    .current-temp {
        font-size: 4rem;
    }
    
    .cel-fahr {
        position: relative;
        top: -20px;
    }
    
    .current-weather-info {
        display: flex;
        align-items: center;
    }
    
    .temp-sign {
        filter: invert(100%) sepia(0%) saturate(290%) hue-rotate(170deg) brightness(121%) contrast(100%);
    }
    
    .search_input {
        width: 170px;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.8);
        padding: 5px;
    }
    
    .search-city-input {
        display: flex;
        justify-content: center;
    }
    
    .search-button {
        background: #0E416E;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 0 15px;
        transition: all .2s;
    }
    
    .search-button:hover {
        background: #2868AC;
    }
    
    #sky-condition:first-letter {
        text-transform: capitalize;
    }